body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.hero {
    width: 100%;
    height: 100%;
    background-color:#eee;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a {
    color: #1d1d24;
  position: relative;
  padding: 5px 0;
  margin: 10px;
}
nav ul li a:hover {
    color: #fd4766;
}
nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background:aqua;
    transition: 0.4s;
    bottom: 0;
}
nav ul li a:hover:after {
    width: 100%;
    cursor: pointer;
}
.main{
    margin-top: 2%;
}
.main h1 {
    color:black;
    font-size: 70px;
    font-weight: bold;
    line-height: 50px;
    text-transform:inherit;
    text-shadow: 3px 4px 10px aqua;
    width:70%;
    margin: 10px 60px;
    padding:10px 20px;
    cursor: pointer;
}
.main h1 span{
    color:#fd4766;
    cursor: pointer;
}
.main a{
    color:#fd4766;;
    font-size: 30px;
    margin: 10px 35px;
    padding: 16px 40px;
    border-radius:50px;
    box-sizing: border-box;
    display: inline;
    font-weight:bold;
    cursor:pointer;
}
.main:hover.a {
    background: transparent;
    border-color:aqua;
    color: #fd4766;
    cursor:pointer;
}
.main p {
    width: 55%;
    color: #202020;
    margin:50px 50px;
    padding:30px;
}
.images {
    width:45%;
    height:90%;
    position:absolute;
    bottom:20%;
    right:100px;

}
.images img {
    position:absolute;
    height:70%;
    left:70%;
    bottom: 1px;
    top:50%;
    margin-right:0px;
    transform:translate(-50%);
    transition:bottom 1s left 1s;
}
.images:hover.nature{
    bottom:20px;
}
.images:hover.pic{
    left:45%;
}
